* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.new-grid-btn {
    padding: 16px 32px;
    border: none;
    border-radius: 16px;
    color: #fff;
    background-color: darkcyan;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-bottom: 32px;
    border: 2px solid #000;
}

.square {
    border: 1px solid #000;
}

.colored {
    background-color: #000;
}
